body{font-family: "Montserrat;"}

#title{background-color: #194350;}

h1{font-family: 'Montserrat'; font-size: 3rem; line-height: 1.5; color: white; padding-left: 80px; padding-top: 100px;}

.row{padding-left: 16px; padding-top: 15px;}

.coronavirus{padding-bottom: 75px;padding-top: 5px;}

.container-fluid{padding-top: 10px;}

.btns{padding-left: 80px;}

.btn1{margin-left: 2rem;}

/* Navbar */

.navbar-brand{font-family: "Ubuntu"; font-size: 1.5rem; font-weight: bold;}

.nav-item{padding: 0 18px;}

.nav-link{font-family: "Montserrat-Light"; font-size: 1.2rem}

/* Buttons */
.btn1{margin: 5% 3% 5% 0;}

/* Title Image */

.coronavirus{width: 90%;}

/* Corona Status */

#Corona{padding:7% 12%;}

.status{padding-right: 5%;
         text-align: center;}

.h2{font-family: "Montserrat";
    font-size: 1.7rem;
  margin-bottom: 1.5rem;}

.fa-4x{padding-bottom: 7%;}
.fa-4x:hover{color: #194350;}

p{font-size: 1.5rem;
  font-weight: bold;
  font-family: serif;}

.status2{text-align: center;}

.bt7{text-align: center;
     padding-left:10%;
     padding-right:12%;
     padding-top:5%;}

#pricing{padding-top: 5%;}

/* vaccination drive */

#vacci{background-color:#194350;}

.t2{text-align: center;
    font-family: "Montserrat";
    font-size: 2.5rem;
    color: white;
    padding-top: 3%;
    padding-left: 2%;}

.t3{font-family: "Ubuntu",sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
    color: white;
    padding-left:35%;
    padding-top: 20%;}

.info{color: white;
      text-align: center;
      padding-top: 5%;
      font-size: 1.2rem;
      padding-left:30%;}

.reg{padding-left:37%;
     padding-top: 3%;}

.img1{display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  border-radius: 50%;}

.vimg{width:700px;
      height: 550px;
      padding-bottom: 75px;
      padding-top: 3%;
      padding-left: 3%}

.layout{padding:3% 7%;}

/* Donation */

.donation{padding:5% 15%;
          text-align: center;}

.txt{padding:2% 25%; font-size:1.5rem; font-weight: bold;}

.txt2{font-weight:bolder;
      font-size: 2.5rem;}

.bt6{font-size:1.7rem;
     font-weight:600;
     padding:1% 7%}

.hand{padding-bottom: 2%;}
.fa-8x:hover{color: #ce1212;}

/* footer */

.bottom-container{background-color: #34656d;
                  padding: 50px 0 20px;}

.copyright{color: #EAF6F6;
font-size: 0.8rem;
padding-left: 43%;
padding-top: 1.3%;}

.footer-link{color: #fffbdf;
  font-family: "Montserrat";
  margin:8px 8px;
  font-size: 1rem;
  text-decoration: none;}

.ft2:hover{color: #EAF6F6;
        font-family: "Montserrat";
        font-size:1rem;}

.ft{padding-left:17%;}
